version: '3'

services:
  jenkins-master:
    networks:
      - pdc_net
    image: '{{ docker_jenkins_image.name }}:{{ docker_jenkins_image.tag }}'
    restart: always
    ports:
      - 8080:8080
    volumes:
      - 'jenkins-data:/var/jenkins_home'

volumes:
  jenkins-data:

networks:
  pdc_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24