version: '3'

services:
  giltab:
    hostname: 'gitlab.infra.corp'
    networks:
      - pdc_net
    image: '{{ docker_images.gitlab.name }}:{{ docker_images.gitlab.tag }}'
    restart: always
    ports:
      - 443:443
      - 80:80
      - 22
    volumes:
      - 'gitlab-data:/var/opt/gitlab'
      - 'gitlab-logs:/var/log/gitlab'
      - 'gitlab-config:/etc/gitlab'
    environment:
      GITLAB_OMNIBUS_CONFIG: "external_url 'http://{{ ansible_eth0.ipv4.address }}'"
volumes:
  gitlab-data:
  gitlab-logs:
  gitlab-config:


networks:
  pdc_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24